asgiref==3.2.3
Click==7.0
Django==3.1.12
django-cors-headers==3.2.1
djangorestframework==3.11.0
djangorestframework-jwt==1.11.0
djangorestframework-simplejwt==4.4.0
dlib==19.19.0
ecdsa==0.15
face-recognition==1.2.3
face-recognition-models==0.3.0
jsonfield==2.0.2
numpy==1.18.1
Pillow==7.0.0
pyasn1==0.4.8
PyJWT==1.7.1
python-jose==3.1.0
pytz==2019.3
rsa==4.0
six==1.14.0
sqlparse==0.3.0
