<div class="Login">
    <div class="only-width">
    <div class="FLogin">
      <mat-card style="background-color: whitesmoke;">
        <div style="margin-bottom: 10%;"></div>
        <mat-card-title class="Tophead">Faculty Login</mat-card-title>
        <mat-card-content class="content">
          <form class="example-form">
            <mat-form-field class="form-style">
              <input [(ngModel)] = "input.username" matInput placeholder="User Name" [ngModelOptions]="{standalone: true}">
            </mat-form-field>
          
            <mat-form-field class="form-style">
              <input [(ngModel)] = "input.password" matInput placeholder="Password" [ngModelOptions]="{standalone: true}">
            </mat-form-field>
          </form>
          <button (click) = "onLogin()" mat-raised-button color="primary" class = "button-style">Submit</button>
          <div style="margin-bottom: 10%;"></div>
        </mat-card-content>
      </mat-card>
    </div>
  
    <div class="SLogin">
      <mat-card style="background-color: whitesmoke;">
        <div style="margin-bottom: 10%;"></div>
        <mat-card-title class="Tophead">Student Login</mat-card-title>
        <mat-card-content class="content">
          <form class="example-form">
            <mat-form-field class="form-style">
              <input matInput placeholder="User Name">
            </mat-form-field>
          
            <mat-form-field class="form-style">
              <input matInput placeholder="Password">
            </mat-form-field>
          </form>
          <button mat-raised-button color="primary" class = "button-style">Submit</button>
          <div style="margin-bottom: 10%;"></div>
        </mat-card-content>
      </mat-card>
    </div>
    </div>
  </div>