
  <div class="Login">
    <div class="justlayer">
    <div class="only-width">
    <div class="FLogin">
      <mat-card>
        <div style="margin-bottom: 10%;"></div>
        <mat-card-title class="Tophead" style="color: blueviolet;">
          <span class="entypo-users" style="color: blueviolet;"></span> Faculty Login
        </mat-card-title>
        <div style="width: 30%;border: 1px solid blueviolet;margin-left: auto;margin-right: auto;;margin-bottom: 5%;"></div>
        <mat-card-content class="content">
          <form class="example-form" [formGroup] = "loginForm" (ngSubmit) = "onSubmit()">
            <mat-form-field class="form-style">
              <input matInput placeholder="Faculty ID" type="text" id = "username" formControlName="username" [ngClass]="{ 'is-invalid': submitted && f.username.errors }">
              <div *ngIf="submitted && f.username.errors">
                <div *ngIf="f.username.errors.required" style="color: red;">Faculty ID is required</div>
              </div>
            </mat-form-field>
          
            <mat-form-field class="form-style">
              <input matInput placeholder="Password" type="password" id = "password" formControlName="password" [ngClass]="{ 'is-invalid': submitted && f.username.errors }">
              <div *ngIf="submitted && f.password.errors">
                <div *ngIf="f.password.errors.required" style="color: red;">Password is required</div>
              </div>
            </mat-form-field>

            <button [disabled] = "loading" mat-raised-button color="primary" class = "button-style">Login</button>
          </form>
          <div style="margin-bottom: 10%;"></div>
        </mat-card-content>
      </mat-card>
    </div>
  
    <div class="SLogin">
      <mat-card>
        <div style="margin-bottom: 10%;"></div>
        <mat-card-title class="Tophead" style="color: blueviolet;">
          <span class="fontawesome-user" style="color: blueviolet;"></span> Student Login
        </mat-card-title>
        <div style="width: 30%;border: 1px solid blueviolet;margin-left: auto;margin-right: auto;margin-bottom: 5%;"></div>
        <mat-card-content class="content">
          <form class="example-form">
            <mat-form-field class="form-style">
              <input matInput placeholder="User Name">
            </mat-form-field>
          
            <mat-form-field class="form-style">
              <input matInput placeholder="Password">
            </mat-form-field>
            <button mat-raised-button color="primary" class = "button-style">Login</button>
          </form>
          <div style="margin-bottom: 10%;"></div>
        </mat-card-content>
      </mat-card>
    </div>
    </div>
    </div>
  </div>