<div class = topbar>
  <mat-toolbar color="primary" class="border-only"> 
    Face Recognition Student Attendance Portal
    <span class="flex-spacer"></span>
    <span>
      <button mat-mini-fab color = "primary" [matMenuTriggerFor]="uploadmenu"><span class="fontawesome-th-list"></span></button>
      <mat-menu #uploadmenu="matMenu">
        <button mat-menu-item (click)="updateprofile()" style="font-weight: bold;letter-spacing: 3px;"><span class="entypo-up-circled" style="color: crimson;"></span> Update My Profile</button>
        <button mat-menu-item>View Allocated Classes</button>
        <button mat-menu-item>Display Student's Attendance</button>
        <button mat-menu-item>Check Lectures taken for a Class</button>
        <button mat-menu-item>Display Student's Profile</button>

        <button mat-menu-item (click)="addstudent()" style="font-weight: bold;letter-spacing: 3px;"><span class="entypo-user-add" style="color: crimson;"></span> Add a Student</button>
      </mat-menu>
    </span>

    <span style="padding-right: 3%;"></span>

    <span>
      <button mat-mini-fab color = "primary" [matMenuTriggerFor]="menu"><span class="entypo-user"></span></button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item style="font-weight: bold;letter-spacing: 3px;" (click) = "openprofile()">
          <span class="entypo-user" style="color: crimson;"></span> {{ this.setUser()}}
        </button>
        <button mat-menu-item style="font-weight: bold;letter-spacing: 3px;" (click)="onLogout()">
          <span class="entypo-right-bold" style="color: crimson;"></span> Logout
        </button>
      </mat-menu>
    </span>

    <span style="margin-right: 5%;"></span>
  </mat-toolbar>
</div>

<app-attendance></app-attendance>

