<div class = topbar>
    <mat-toolbar color="primary" class="border-only"> 
      Face Recognition SAP
      <span class="flex-spacer"></span>
      <span>
        <button mat-mini-fab color = "primary" [matMenuTriggerFor]="menu"><span class="fontawesome-th-list"></span></button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item>Upload Attendance</button>
        </mat-menu>
      </span>
      <span style="padding-right: 3%;"></span>
  
      <span>
        <button mat-mini-fab color = "primary" [matMenuTriggerFor]="menu"><span class="entypo-user"></span></button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item style="font-weight: bold;letter-spacing: 3px;">
            <span class="entypo-user" style="color: crimson;"></span> {{ this.setUser()}}
          </button>
          <button mat-menu-item style="font-weight: bold;letter-spacing: 3px;" (click)="onLogout()">
            <span class="entypo-right-bold" style="color: crimson;"></span> Logout
          </button>
        </mat-menu>
      </span>
  
      <span style="margin-right: 5%;"></span>
    </mat-toolbar>
  </div>

  <div style = "margin-bottom: 7%;"></div>
  <div class="attend_div">
    <mat-card>
      <div style="margin-top: 5%;"></div>
      <mat-card-title class="cardtitle">
        <span class="entypo-camera" style="color: blueviolet;"></span> Take Attendance
      </mat-card-title>
      <div style="width: 50%;border: 1px solid blueviolet;margin-left: auto;margin-right: auto;;margin-bottom: 10%;"></div>
      <mat-card-content>
        <div class="exform" style="font-size: large;"><span style="font-weight: 600;">Faculty ID : </span><span style="color: crimson;letter-spacing: 2px;font-weight: 600;">{{this.setUser()}}</span></div>
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
           <mat-form-field class="exform">
            <mat-label>Branch - Year of Study - Semester</mat-label>
            <mat-select (selectionChange)="onBr($event)">
              <mat-option *ngFor="let br of br_opt" [value]="br">
                {{br}}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field class="exform">
            <mat-label>Section</mat-label>
            <mat-select (selectionChange)="onSe($event)">
              <mat-option *ngFor="let se of se_opt" [value]="se">
                {{se}}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field class="exform">
            <mat-label>Period</mat-label>
            <mat-select (selectionChange)="onPe($event)">
              <mat-option *ngFor="let pe of pe_opt" [value]="pe">
                {{pe}}
              </mat-option>
            </mat-select>
          </mat-form-field>

         <div class="exform">
            <div style="font-size: medium;margin-bottom: 2%;color: rgb(55, 61, 66);">Video File</div>
            <input type="file" name="Video" (change)="onChange($event)" />
         </div>
         <div style="margin-bottom: 7.5%;"></div>
         <span style="margin-left: 40%;"></span>
         <button mat-raised-button color="primary" type="submit" class="buton">Upload</button>
         <div style="margin-bottom: 5%;"></div>
        </form>
      </mat-card-content>
    </mat-card>
  </div>
