@import url(https://weloveiconfonts.com/api/?family=entypo|fontawesome);

/* entypo */
[class*="entypo-"]:before {
  font-family: 'entypo', sans-serif;
}

/* fontawesome */
[class*="fontawesome-"]:before {
  font-family: 'FontAwesome', sans-serif;
}

.flex-spacer{
    flex: 1 1 auto;
}
.menu{
    width: 30%;
    background-color: black;
}

.topbar{
    padding-left: 1.5%;
    padding-right: 1.5%;
    padding-top: 1.5%;
    padding-bottom: 1.5%;
    background-color: whitesmoke;
}

.border-only{
    border-radius: 10px;
}

.attend_div{
  width: 25%;
  margin-left: auto;
  margin-right: auto;
}

.exform{
  width: 80%;
  display: block;
  margin-bottom: 5%;
  margin-left: auto;
  margin-right: auto;
}

.field_align{
  text-align: center;
}

.cardtitle{
  text-align: center;
  color: blueviolet;
  margin-top: 5%;
  margin-bottom: 5%;
}

.buton{
  width: 20%;
  margin-left: auto;
  margin-right: auto;
}

#customers {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#customers td, #customers th {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

#customers tr:nth-child(even){background-color: #f2f2f2;}

#customers tr:hover {background-color: #ddd;}

#customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: #4CAF50;
  color: white;
}

.fortable{
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10%;
  margin-bottom: 10%;
}