<mat-toolbar color="primary"> 
  Face Recognition SAP
  <span class="flex-spacer"></span>
  <span *ngIf = "userdetected">
    <button mat-button [matMenuTriggerFor]="menu">UserName</button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item>Logout</button>
    </mat-menu>
  </span>
</mat-toolbar>
<app-login-component *ngIf = "!userdetected"></app-login-component>
<div>
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    
    <input type="file" name="profile" (change)="onChange($event)" />
    <button type="submit">Upload video File</button>

  </form>
</div>

